@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  color: #222;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #222;
}

// Width
::-webkit-scrollbar {
  width: 10px;
  background-color: #222;
}

// Track
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #222;
}

// Handle
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #222;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #111;
}

ul{
  list-style-type: none;
}

.switch-wrapper {
  position: relative;
}
 
.switch-wrapper > div {
  position: absolute;
}