.searchbar{
    width: 300px;

    input{
        width: 100%;
            display: inline-block;
            border: none;
            font-family: inherit;
            font-size: 1em;
            padding: 0.4rem .5em;
            border-radius: 4px;
    }
    
}