.Banner, .Services{
    // min-height: 400px;
    height: 400px;
    background-color: #fdf9f9;
    h2{
        text-align: center;
        font-size: 3rem;
    }
    padding-top: 8%;
}

.Services{background: #eee;}
